./Temp/*
*
./Library/**
./Temp/*

./Library/*
./Temp/
./Library/
./Temp\\*
*
./Library\\**
./Temp\\*

./Library\\*
./Temp\\
./Library\\
./Temp\*
*
./Library\**
./Temp\*

./Library\*
./Temp\
./Library\